<!-- params:
  - articles: a list of articles -->
<% params[:articles].each_with_index do |art, idx| %>

  <%= render 'articles/small_display', params: {article: art, image: art.feature_slot.nil? || !art.feature_slot.hide_image } %>
  <% unless idx == params[:articles].count - 1 %>
    <div class="divider"></div>
  <% end %>
<% end %>