@import "bootstrap";

$border-width: 1px;
$border-color: #999;

@font-face {
  font-family: 'Old English';
  src: font_url('OLDENGL.ttf') format("truetype");
}

* {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, .header-item, .lead {
  font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6, .header-item {
  font-weight: 600;
}

.normal-weight {
  font-weight: 400;
}

.header-item {
  font-size: 1.2rem;
}

.brand {
  font-family: "Old English", serif;
}

.content-font > p {
  font-family: "Noto Sans", sans-serif;
}

.brand-large {
  font-size: 2.0rem;
}

.highlight-orange {
  color: #9b4207 !important;
  text-shadow: -2px 2px #ff6c0c;
}


.page-header {
  border-bottom: #999999 1px solid;
  padding: 0;
}

.bg-orange {
  background-color: #9b4207;
}

.footer-brand {
  color: #FFFFFF;
  font-size: 1.25rem;
}

.footer-content-left {
  border-right: 1px solid white;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -125px;
  padding-bottom: 125px;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 125px;
}

main.container {
  padding: 0;
}

.nowrap {
  display: inline-block;
}
.nomargin {
  margin-bottom: 0;
}

.section {

}

.article-image {
  margin-bottom: 5px;
}

.lower-col {
  padding: 0;
}

.lower-mid-section {
  margin-left: 10px;
  margin-right: 10px;
}

.lower-left-section {
  padding-left: 10px;
  margin-right: 10px;
}

.img-caption {
  width: 100%;
  border-bottom: #999999 1px solid;
  font-size: 0.875em;
  margin-bottom: 15px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.article_content {
  font-size: 1.05em;
}

.article-footer {
  margin-bottom: 3em;
}

.article_content > p > strong > em {
  display: block;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  border-bottom: #999999 1px solid;
  font-size: 0.875em;
  margin-bottom: 15px;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  color: #6c757d;
}


.divider {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #999 !important;
  margin: 10px 0;
  padding: 0;
}

.article-title {
  text-decoration: none !important;
}

/*
 * Define .border-{size}-top/right/left/bottom etc. for bootstrap breakpoints
 */
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
    .border#{$infix}-right {    border-right: $border-width solid $border-color !important; }
    .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
    .border#{$infix}-left {     border-left: $border-width solid $border-color !important; }

    .border#{$infix}-top-0 {    border-top: 0 !important; }
    .border#{$infix}-right-0 {  border-right: 0 !important; }
    .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
    .border#{$infix}-left-0 {   border-left: 0 !important; }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
    }
    // support of .border-sm (-md, -lg, -xl)
    .border#{$infix} {
      border-top: $border-width solid $border-color !important;
      border-bottom: $border-width solid $border-color !important;
      border-left: $border-width solid $border-color !important;
      border-right: $border-width solid $border-color !important;
    }
    .border#{$infix}-0 {
      border-top: 0 !important;
      border-bottom: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
}