<header>
  <nav class="navbar navbar-light navbar-expand-lg">
    <div class="container page-header">
      <%= link_to "The California Tech", root_path, class: "brand brand-large navbar-brand" %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#categories" aria-controls="categories" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="categories" style="margin-top: 10px">
        <div class="navbar-nav">
          <a class="header-item nav-item nav-link active" href="#">Institute News</a>
          <a class="header-item nav-item nav-link active" href="#">Commentary</a>
          <a class="header-item nav-item nav-link active" href="#">Nation & World</a>
          <a class="header-item nav-item nav-link active" href="#">Around Campus</a>
          <a class="header-item nav-item nav-link active" href="#">Culture</a>
        </div>
      </div>

      <div class="justify-content-end">
        <a href="#" class="btn btn-sm btn-outline-secondary" style="margin-top: 10px">Subscribe</a>
      </div>
    </div>

  </nav>
</header>
